* {
    margin: 0;
    padding: 0;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Header */
.header {
    width: 1280px;
    margin: 63px 0px 49px 0px;
}

.header-link {
    color: #000;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-link-o {
    color: #4BCAFF;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.head-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
    background-color: #35444F;
}
.head-menu-back{
    padding: 24px 32px 19px;
    border-left: 1px solid #FFF; 
}
.head-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.other {
    border-right: 1px solid #FFF;
}

.head-menu-back:hover {
    transition: 1s;
    background: #222F3A;
}


/* Menu */
.container {
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 344px;
    border: 1px solid #000;
}
.menu-list-style{
    color: #35444F;
font-family: Roboto;
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 100% */
}
.menu-list-style:hover{
    color: #000;
}
.menu-list {
    padding: 26px 0 26px 44px;
    font-size: 27px;
    line-height: 27px;
}

.menu-list:hover {
    transition: 0.5s;
    padding-left: 60px;
    background: #DBDBDB;
}
 .content{
    display: flex;
    flex-direction: column;
    margin-bottom: 54px;
 }
 
.img {
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 37px;
}

.text {
    width: 885px;
    flex-shrink: 0;
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.retreat{
    padding-top: 13px;
}

/* Footer */
.footer {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 69px;
    flex-shrink: 0;
    background: rgba(99, 105, 110, 0.48);
}

.footer-list {
    display: flex;
    width: 875px;
    justify-content: space-between;
    margin-left: 40px;
    text-align: center;
    padding: 20px 0;
}

.footer-text {
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.footer-text:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}


.copyright {
    margin-right: 40px;
    display: flex;
    width: 190px;
    height: 69px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #010101;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}